:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  border: 1px solid tomato;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

fa-icon {
  cursor: pointer;
  margin: 10px;
}

.undo {
  margin-top: 80px;
}
