<div class="buttons">
  <div class="up">
    <fa-icon [icon]="up" (click)="onButtonClick('up')"></fa-icon>
  </div>
  <div class="directions">
    <fa-icon [icon]="left" (click)="onButtonClick('left')"></fa-icon>
    <fa-icon [icon]="right" (click)="onButtonClick('right')"></fa-icon>
  </div>
  <div class="down">
    <fa-icon [icon]="down" (click)="onButtonClick('down')"></fa-icon>
  </div>


  <div class="undo">
    <fa-icon [icon]="undo" (click)="onButtonClick('reset')"></fa-icon>
  </div>
</div>
